@model BonaCompraWeb.Models.LoginViewModel

@{
  ViewBag.Title = "Identifícate para votar";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h1>@ViewBag.Title</h1>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" })) {
                @Html.AntiForgeryToken()
                <h4>Por favor, introduce tus datos abajo.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email, new { @class = "control-label" })*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Tu número de tarjeta BonaCompra" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "control-label" })*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control contraseña", placeholder = "Los 3 últimos números y la letra de tu DNI/NIE/NIF" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <!--div class="form-group"> 
                    <div class="checkbox col-md-offset-1">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div-->
                <div class="form-group">
                    <input id="botonEnviar" type="submit" value="VOTAR" class="btn btn-primary" />
                </div>
            }
        </section>
    </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr />
    <h2>¿No puedes votar?</h2>
    <h4>Probablemente sea por que tu ficha de socio no está completa...<br> Contacta con nosotros y te ayudaremos:</h4>
    <hr>
    <div class="well">
    <h3>Atención al cliente:</h3>
    <h1>900 10 28 71</h1>
    <p>De lunes a viernes de 9:00 a 14:00 horas.</p>
    </div>
  </div>
</div>  

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

